In [1]:
import pandas as pd
import numpy as np

In [2]:
xtr = pd.read_csv('data/XTr1.csv')

In [3]:
ytr = pd.read_csv('data/YTr.csv')

In [4]:
xtr.shape

(16303, 7203)

In [5]:
xtr.head()

,735,706,678,660,599,541,514,549,566,517,...,-16697,-16254,-15761,-15258,-14772,-14318,-13868,-13397,-12878,-12361
0,1009,1051,1083,1084,1066,1025,975,1088,1152,1011,...,-802,-846,-767,-713,-696,-690,-714,-733,-767,-764
1,1012,975,1077,1112,1109,1175,1157,957,938,1157,...,-656,-581,-647,-682,-655,-664,-520,-584,-632,-602
2,1048,1100,1182,1135,1129,1147,1028,1056,1110,1081,...,-710,-585,-486,-543,-695,-654,-583,-603,-628,-853
3,-49604,-49296,-49286,-49718,-50265,-50653,-51028,-51566,-52128,-52382,...,18984,24318,29003,33092,36758,40240,43651,47041,50366,53710
4,14801,13516,13160,13784,14999,16223,17224,17436,16437,15141,...,-10861,-12622,-15676,-19074,-22241,-24847,-26315,-27099,-27649,-27637

In [6]:
merged_df = pd.concat([xtr, ytr], axis=1)

In [8]:
merged_df = merged_df.sample(frac=1).reset_index(drop=True)

In [9]:
merged_df.to_csv('data/merged_earthquake.csv', index=False)